@font-face {
  font-family: "Futura";
  src: url("fonts/FuturaLT-Light_0.ttf") format("truetype"); }

* {
  font-family: "Futura", sans-serif;
  transition: 0.3s !important; }

/** 
  MULTIPURPOSE PARTS
**/
.book-appointment {
  position: relative; }
  .book-appointment img {
    max-width: 300%;
    position: absolute;
    top: 19px;
    left: -56px; }

.horysontal-separator {
  width: 100%;
  margin: 50px 0px;
  background: #d4d8d8;
  height: 1px;
  display: inline-block; }

/**END MULTIPURPOSE PARTS**/
header {
  /*If is homepage*/ }
  header .main-navigation {
    padding-top: 32px;
    padding-bottom: 25px; }
    header .main-navigation .current-menu-item a {
      color: #000000; }
  header .entry-title {
    text-align: center;
    margin-top: 125px;
    margin-bottom: 92px;
    color: #282828;
    font-size: 48px;
    letter-spacing: 2.6px; }
  header .home-banner img {
    margin-top: 41px;
    position: relative;
    right: -6%; }
  header .banner img {
    height: 351px;
    width: auto;
    margin-right: -12px; }
  header .home-banner {
    height: 677px;
    background: url("../images/banner-big.png");
    background-size: cover; }
  header .banner {
    height: 385px;
    background: url("../images/banner-little.png");
    background-size: cover; }
  header .main-navigation a {
    margin-right: 2.777em;
    color: #878484;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.05px; }

/* End Header*/
#main-content h1 {
  margin-top: 125px;
  text-align: center;
  color: #000000;
  font-family: "Futura", sans-serif;
  font-size: 41px;
  letter-spacing: 0.47px; }

#main-content p {
  margin-top: 67px;
  margin-bottom: 88px;
  color: #4d4f50;
  font-family: "Futura", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 35.05px; }

#main-content img {
  margin-bottom: 6px;
  border: 1px solid black;
  padding: 44px;
  margin-right: -30px;
  max-height: 1205px; }

/*End main content*/
.author-info .avatar {
  margin-top: -2px;
  margin-bottom: 70px;
  display: inline-block;
  padding: 43px;
  border: 1px solid black; }

.author-info div {
  margin-bottom: 37px; }
  .author-info div span {
    display: block;
    color: #4d4f50;
    font-family: "Futura", sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 31px; }

/* End author info*/
.portfolio-sorting-menu a:last-of-type {
  border: none !important; }

.portfolio .portfolio-sorting-menu {
  text-align: center; }
  .portfolio .portfolio-sorting-menu a {
    color: #282828;
    padding: 0px 55px;
    border-right: 1px solid #282828;
    font-family: "Futura", sans-serif;
    font-size: 24px;
    /*font-weight: bold;*/
    text-transform: uppercase;
    letter-spacing: 4.8px; }

.portfolio .portfolio-item {
  width: 100%;
  height: 420px;
  overflow: hidden;
  display: inline-block;
  background-position: center !important;
  background-size: cover !important; }

.portfolio .col-md-2 {
  padding: 8px !important; }

.portfolio .portfolio-text {
  margin-bottom: 155px; }
  .portfolio .portfolio-text h2 {
    color: #000000;
    font-size: 41px;
    font-weight: bold;
    margin-top: 116px;
    margin-bottom: 63px; }
  .portfolio .portfolio-text p {
    color: #4d4f50;
    font-size: 22px;
    line-height: 35.05px; }

/* End portfolio*/
footer {
  text-align: center;
  margin-top: 22px;
  padding-top: 63px;
  padding-bottom: 50px;
  background: #282828;
  color: white; }
  footer .footer-column-title {
    font-family: "Futura", sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1.2px; }
  footer .footer-column-subtitle {
    margin-top: 49px;
    margin-bottom: 58px;
    font-family: "Futura", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 25.15px; }
  footer input {
    width: 97%;
    height: 44px;
    border-radius: 0px !important; }
  footer .footer-social-icon {
    top: -14px;
    display: inline-block;
    position: relative;
    margin-right: 7px; }

/* End footer*/
.popuper, .popuper-book-appointment {
  padding-top: 20px;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.77);
  z-index: 10; }
  .popuper .portfolio-full-image, .popuper-book-appointment .portfolio-full-image {
    max-width: 40%;
    max-height: 80%;
    margin: 12% auto 5% auto;
    display: block;
    border: 8px solid white; }
  .popuper .pop-close-btn, .popuper-book-appointment .pop-close-btn {
    background: none;
    font-size: 25px;
    color: white;
    border: none;
    position: absolute;
    top: 10%;
    right: 20%;
    outline: none; }
    .popuper .pop-close-btn :hover, .popuper-book-appointment .pop-close-btn :hover {
      cursor: pointer; }

/* REVIEWS STYLES*/
.review-logo-description {
  display: block;
  width: 400px;
  font-size: 25px;
  color: white;
  margin: 150px auto; }

.review_logo {
  display: inline-block;
  padding: 0px 38px;
  border-right: 1px solid #979898;
  vertical-align: middle;
  margin-bottom: 120px; }
  .review_logo:last-of-type {
    border: none; }
  .review_logo img {
    max-height: 60px;
    max-width: 369px; }

/*.review_logo*/
.under-reviews a {
  display: block; }

.under-reviews h2 {
  display: inline-block;
  margin: 50px 0px 77px 0px;
  padding: 28px 0px 34px 0px;
  border-top: 1px solid #d4d8d8;
  border-bottom: 1px solid #d4d8d8; }

.review-separator-top {
  background: #d4d8d8;
  width: calc(100% - 107px);
  height: 1px;
  /*max-width: 669px;*/
  display: inline-block; }

.review-separator-bottom {
  background: #d4d8d8;
  width: calc(100% - 107px);
  height: 1px;
  margin-bottom: 58px;
  margin-top: 18px;
  /*max-width: 669px;*/
  display: inline-block; }

.review {
  margin-top: 47px;
  padding: 0px 83px 0px 24px;
  font-size: 22px;
  color: #4d4f50;
  line-height: 38px;
  /* border-top: 1px solid; */
  /*font-weight: bold;*/ }
  .review .review-author {
    font-size: 39px;
    margin-left: 40px;
    margin-top: 15px;
    display: inline-block;
    font-weight: 400 !important; }

/* END REVIEWS STYLES*/
/* SERVICES STYLES*/
.services-sorting-menu {
  border-top: 1px solid #d4d8d8;
  padding: 66px;
  border-bottom: 1px solid #d4d8d8; }
  .services-sorting-menu a {
    display: inline-block;
    padding: 0px 40px;
    border-right: 1px solid #292929;
    color: #282828;
    font-family: "Futura", sans-serif;
    font-size: 24px;
    /*font-weight: bold;*/
    text-transform: uppercase;
    letter-spacing: 4.8px; }
    .services-sorting-menu a:last-of-type {
      border-right: none; }

.sorted-services {
  padding: 154px 0px 0px 0px; }
  .sorted-services p {
    color: #282828;
    font-family: "Futura", sans-serif;
    font-size: 24px; }
  .sorted-services .service-title {
    letter-spacing: 4.8px;
    text-transform: uppercase;
    margin-bottom: 3px; }
  .sorted-services .price {
    margin-bottom: 13px;
    letter-spacing: 0.4px; }
  .sorted-services .service_description {
    line-height: 29px; }
  .sorted-services .service-item {
    margin-bottom: 166px; }

#aditional-travel-services {
  margin-top: -25px; }
  #aditional-travel-services .block {
    border-top: 1px solid #d4d8d8;
    padding: 85px 0px 69px 0px;
    border-bottom: 1px solid #d4d8d8; }
  #aditional-travel-services .block-title,
  #aditional-travel-services .title,
  #aditional-travel-services .price {
    color: #282828;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4.8px; }
  #aditional-travel-services .block-title {
    margin-bottom: 80px; }
  #aditional-travel-services .title {
    margin-bottom: 3px; }

#service-examples .title,
#service-examples .items {
  color: #282828;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4.8px; }

#service-examples .title {
  padding-top: 78px;
  padding-bottom: 84px;
  text-align: center; }

#service-examples .items {
  line-height: 32px; }

/* END SERVICES STYLES*/
#multipurpose-form {
  position: relative; }
  #multipurpose-form form {
    width: 100%; }
  #multipurpose-form label {
    width: 250px;
    text-align: center;
    vertical-align: top;
    color: #4d4f50;
    font-size: 24px;
    font-weight: bold;
    line-height: 25.15px; }
  #multipurpose-form input {
    width: calc(100% - 250px);
    margin-bottom: 42px;
    background: #f4f5f4;
    max-height: 36px;
    border: none; }
  #multipurpose-form textarea {
    width: calc(100% - 250px);
    background: #f4f5f4;
    border: none;
    min-height: 227px;
    resize: none;
    /*padding-bottom: 139px;*/
    border-bottom: 1px solid #f4f5f4; }
  #multipurpose-form select {
    width: calc(100% - 250px);
    background: #f4f5f4;
    min-height: 36px;
    border: none;
    margin-left: -6px !important; }
  #multipurpose-form .submit-button {
    width: 123px;
    min-height: 123px;
    bottom: -267px;
    left: 20px;
    position: relative;
    display: inline-block;
    font-size: 0px;
    border: 2px solid transparent;
    background-repeat: no-repeat !important;
    /*&:after{
        content: "";
        width: 540px;
        height: 1px;
        display: block;
        margin: 0px auto;
        background: red;
      }*/ }
    #multipurpose-form .submit-button:hover {
      cursor: pointer;
      border: 2px solid #f4f5f4;
      border-radius: 50%; }
  #multipurpose-form .bottom-line {
    border-bottom: 1px solid #f4f5f4;
    display: inline-block;
    width: 540px;
    margin-top: 130px; }

.book-appointment-button {
  top: -182px;
  right: -93px;
  position: relative; }

.leave-review-button {
  max-width: 169px;
  position: relative;
  top: -152px;
  right: -288px; }

/*End multipurpose-form*/
#blog {
  max-height: 2000px;
  overflow: scroll;
  overflow-x: hidden;
  margin-top: 200px; }
  #blog h2 {
    text-align: center;
    color: #000000;
    font-family: "Futura", sans-serif;
    font-size: 40px;
    /*font-weight: bold;*/
    margin-bottom: 0px; }
  #blog p {
    padding: 0px 120px;
    margin-bottom: 60px;
    color: #4d4f50;
    font-family: "Futura", sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 35.05px; }

/* End Blog Page Styles*/
.widget-area {
  max-width: 270px;
  margin-top: 200px; }
  .widget-area .widget-title {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    padding: 18px;
    border-top: 1px solid #d4d8d8;
    border-bottom: 1px solid #d4d8d8; }
  .widget-area ul {
    margin: 38px 0px 0px 0px; }
    .widget-area ul a {
      color: #000000;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      /*font-family: "Futura LT";*/
      font-weight: 300;
      letter-spacing: 1.35px; }

/*Media Queries*/
@media (min-width: 1700px) {
  .container {
    max-width: 1712px !important; } }

@media (max-width: 1352px) {
  header .main-navigation {
    padding-left: 50px; }
  header .home-banner {
    height: 100%; }
    header .home-banner img {
      right: 0px !important; }
  header .book-appointment img {
    max-width: 149%;
    left: 0px; }
  .review_logo {
    padding: 0px 10px;
    margin-bottom: 20px; }
    .review_logo img {
      max-width: 200px; }
  .book-appointment-button {
    margin-top: -161px;
    position: initial;
    max-width: 108px; }
  .leave-review-button {
    position: initial;
    max-width: 108px; }
  .popuper .pop-close-btn {
    background: white;
    top: 0;
    right: 0;
    color: #000000; }
  .popuper-book-appointment .pop-close-btn {
    background: white;
    top: 0;
    right: 0;
    color: #000000; }
  footer input {
    width: 100%;
    margin-bottom: 20px;
    /*max-width: 108px;*/ } }

@media (min-width: 1000px) {
  .width-980 {
    max-width: 980px !important; } }

@media (max-width: 991px) {
  .book-appointment-button,
  .leave-review-button {
    display: inline-block; }
  #multipurpose-form .bottom-line {
    margin-top: 0px;
    width: 100%; }
  #multipurpose-form .submit-button {
    bottom: 0px;
    left: 0px; } }

@media (max-width: 599px) {
  header .banner {
    height: 100%; }
    header .banner img {
      height: 100%; }
  header .book-appointment img {
    max-width: 110px; }
  header .main-navigation {
    text-align: right; }
    header .main-navigation ul {
      margin-top: 23px; }
      header .main-navigation ul li {
        display: block;
        width: 100%; }
    header .main-navigation .menu-toggle {
      display: inline-block;
      background: white;
      outline: none;
      font-family: "Futura", sans-serif; }
      header .main-navigation .menu-toggle:hover {
        cursor: pointer; }
  #main-content p {
    text-align: justify !important;
    font-size: 19px; }
  .author-info div span {
    font-size: 16px; }
  .review_logo {
    margin-bottom: 20px;
    display: block; }
    .review_logo:last-of-type {
      border-right: 1px solid #979898; }
    .review_logo img {
      max-width: 100%; }
  .review-logo-description {
    width: 94%; }
  .review {
    margin-top: 0px;
    padding: 0px 15px 0px 15px;
    font-size: 15px;
    line-height: 24px; }
  .services-sorting-menu {
    padding: 10px; }
  .sorted-services {
    padding-top: 50px; }
    .sorted-services .service-item {
      margin-bottom: 60px; }
  #aditional-travel-services .price {
    margin-bottom: 48px;
    line-height: 24px; }
  .travel_price {
    margin-bottom: 48px;
    line-height: 24px; }
  #aditional-travel-services .block-title,
  #aditional-travel-services .title,
  #aditional-travel-services .price {
    font-size: 14px; }
  #service-examples .items {
    font-size: 14px; }
  #service-examples .title {
    padding-bottom: 20px; }
  .portfolio .portfolio-item {
    height: 239px; }
  .portfolio .portfolio-text {
    margin-bottom: 50px; }
  .portfolio .popuper .portfolio-full-image {
    max-width: 85%;
    max-height: 100%;
    margin: 43% auto 5% auto; }
  #blog {
    max-height: 100%;
    overflow: hidden; }
    #blog p {
      padding: 0px; }
  #multipurpose-form label {
    display: block;
    width: 100%; }
  #multipurpose-form input,
  #multipurpose-form textarea,
  #multipurpose-form select {
    width: 100%; }
  footer .footer-column-title {
    border-top: 2px solid white;
    padding-top: 15px; } }
